#formulario{

    height: 950px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    border-style: dotted;

    background: -webkit-linear-gradient(to right, #ffd45293, #544a7d91), url("/assets/login.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd4528a, #544a7d8f), url("/assets/login.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    padding: 20%;
    align-items: center;
}

#formulario label{

    color: rgb(255, 255, 255);
    
}

#formulario button{
    background-color: rgba(6, 7, 90, 0);
}